.grid{
    display: flex;
    flex-wrap: wrap;
    width: 457px;
    height: 417px;
}
.grid div{
    margin: 5px;
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    background-color: #ffff00;
    box-shadow: 10px 5px 5px black;
}

.num2{
    color: #000;
    background-color: #ff0000;
}
.num4{
    color: #000;
    background-color: #ffa500;
}
.num8{
    color: #000;
    background-color: #0000ff;
}
.num16{
    color: #000;
    background-color: #008000;
}
.num32{
    color: #000;
    background-color: #ffc0cb;
}
.num64{
    color: #000;
    background-color: #ee82ee;
}
.num128{
    color: #fff;
    background-color: #000000;
}
.num256{
    color: #000;
    background-color: #ffffff;
}
.num512{
    color: #000;
    background-color: #800000;
}
.num1024{
    color: #000;
    background-color: #00ffff;
}